
/* Custom*/

/*this removes the title on the page*/
.quarto-title > h1.title {
  opacity: 0 !important;
}

.btn-landing {
  padding: 1rem 1rem;
  font-size: 3rem;
  border-radius: 2rem;
  margin: 1px;
}

.accordion-custom {
  width: 50vw; /* keep consistent across devices */
}

.accordion-btn-custom {
  background-color: #b20f11;
  display:block;
  font-size: 1.5rem;
  color: #fff;
  
}